@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.custom-scrolling::-webkit-scrollbar {
    width: 0.3rem;
    /* background-color: pink;  */
}

.custom-scrolling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
}