@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.hand-drawn-border {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.custom-scrolling::-webkit-scrollbar {
    width: 0.3rem;
    /* background-color: pink;  */
}

.custom-scrolling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
}

@font-face {font-family: "Alsina";
    src: url("assets/fonts/Alsina.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
}